body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  font-family: sans-serif;
}
.main-page {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
.expo {
  transition: .5s;
  -webkit-filter: brightness(.4);
  cursor: pointer;

  margin: 12px auto;
  width: 100%;
  height: 280px;
  background-color: blue;
  overflow: hidden;
  .parallel {
    width: 0px;
    height: 280px;
    background-color: black;
    transition: .2s;

    -webkit-transform: skew(0deg);
	  -moz-transform: skew(0deg);
    transform: skew(0deg);

    h3, p {
      color: white;
      opacity: 0;
      margin: 0;
      font-size: 18px;

      -webkit-transform: skew(30deg);
  	  -moz-transform: skew(30deg);
      transform: skew(30deg);
    }
    p {
      display: block;
      width: 230px;
      margin-left: 30px;
    }
  }
  &:hover {
    -webkit-filter: brightness(1);
    .parallel {
      width: 250px;
      -webkit-transform: skew(-30deg);
  	  -moz-transform: skew(-30deg);
      transform: skew(-30deg);
      box-shadow: 14px 0px rgba(0,0,0,.6), 28px 0px rgba(0,0,0,.3), 42px 0px rgba(0,0,0,.1);
      h3, p {
        transition: .3s;
        transition-delay: .2s;
        opacity: 1;
      }
    }
  }
}

#quarternote {
  background: url('assets/quarter.png');
  background-size: auto 100%;
  background-position: 0% 0%;
  h3 {
    padding: 10px 0 16px 20px;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    text-shadow: 4px 4px #037171;
  }
  p {
    font-family: 'Exo', sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  &:hover {
    animation: Scroll 11s ease infinite alternate;
    @keyframes Scroll {
      0%{background-position: 0px 0%;}
      20%{background-position: 600px 0%;}
      40%{background-position: 1200px 0%;}
      60%{background-position: 1800px 0%;}
      80%{background-position: 2400px 0%;}
      100%{background-position: 3000px 0%;}
    }
  }
}
#jeopardy {
  background: grey;
}
